body {
	width: 750px;
	height: 100%;
	font-size: 12px;
    line-height: 16px;
     margin: 0px auto;
}
.category {
	color: #ebaa00;
	font-weight: 700;
	display: block;
}
.title {
	font-size: 13px;
	margin-top: 6px;
	display: block;
}
.desc {
	font-size: 13px;
	color: #404040;
	margin-top: 5px;
	margin-bottom: 4px;
	max-height: 42px;
	line-height: 21px;
	overflow: hidden;
    -webkit-line-clamp: 2;
}
.teg1 {
	color: #505050;
	display: inline-block;
	width: 100%;
}
.item {
	margin-top: 18px;
	width: 750px;
	height: 114px;
}
.item_p {
	width: 170px;
	height: 114px;
	margin-right: 21px;
}
/* div {
	border: 1px solid gray;
}  */
table, th {
	width: 12.5%;
	border: 1px solid #dae1e6;
	border-collapse : collapse;
}
.time {
	color: #fff;
	line-height: 14px;	
}
.runtime {
	width: 33.5px;
	height: 20px;
	z-index: 1;
	color: transparent;
	background-color: #000;
	padding: 3px 6px;
    border-radius: 2px;
    opacity: .7;
}
.date_be {
	background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: 0 5px 0 6px;
    vertical-align: 3px;
}
.bar {
	display: inline-block;
	width: 1px;
    height: 12px;
    background-color: #e4e8eb; 
    margin: 0 5px 0 5px;
}